:root {
  --background-color: #e7e7e7;
  --text-color: #ececec;
  --calculator-background-color: #4e5050;
  --display-color: #49484a;
  --theme-switch-button-color: #4e5050;
  --right-buttons: #ff9f0a;
  --buttons-color: #535353;
  --number-buttons: #7d7d7d;
}
.darkmode {
  --background-color: #2b2b2e;
  --text-color: #1a1a2e;
  --calculator-background-color: #f0f0f0;
  --display-color: #d9d9d9;
  --theme-switch-button-color: #f0f0f0;
  --right-buttons: #ffaa00;
  --buttons-color: #cccccc;
  --number-buttons: #b3b3b3;
}
.theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--theme-switch-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
.theme-switch svg {
  fill: var(--text-color);
}
.theme-switch svg:last-child {
  display: none;
}
.darkmode .theme-switch svg:first-child {
  display: none;
}
.darkmode .theme-switch svg:last-child {
  display: block;
}
body {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
}
.calculator {
  width: 525px;
  height: 380px;
  background-color: var(--calculator-background-color);
  margin-top: 120px;
  border-radius: 10px;
}
.display {
  background-color: var(--display-color);
  color: var(--text-color);
  font-size: 32px;
  height: 80px;
  box-sizing: border-box;
  padding-right: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.display .previous-operand {
  font-size: 18px;
  padding: 0;
}
.buttons {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(7, 1fr);
  border: 0px;
}
.calculator-button {
  text-align: center;
  font-size: 30px;
  height: 60px;
  width: 100%;
  background-color: var(--buttons-color);
  color: var(--text-color);
  border-width: 1px;
}

.calculator-button:hover {
  opacity: 70%;
}
.calculator-button:active {
  opacity: 90%;
}

.numbers-color {
  background-color: var(--number-buttons);
}
.orange-color {
  background-color: var(--right-buttons);
}
.zero {
  width: 150px;
  grid-column: span 2;
}
