:root {
  --background-color: #eae6ca;
  --text-color: #ececec;
  --calculator-backgound-color: #595959;
  --display-color: #535353;
  --button-color: #7d7d7d;
  --right-buttons: #ff9f0a;
  --top-buttons: #535353;
}
.darkmode {
  --background-color: #424038;
  --text-color: #101425;
  --calculator-backgound-color: #a2a2a2;
  --display-color: #b4b4b4;
  --button-color: #e4e4e4;
  --right-buttons: #e3c394;
  --top-buttons: #a7a5a5;
}
.theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
.theme-switch svg {
  fill: var(--text-color);
}
.theme-switch svg:last-child {
  display: none;
}
.darkmode .theme-switch svg:first-child {
  display: none;
}
.darkmode .theme-switch svg:last-child {
  display: block;
}
body {
  display: grid;
  place-content: center;
  background-color: var(--background-color);
}
.calculator {
  width: 300px;
  max-width: 300px;
  height: 385px;
  background-color: var(--calculator-backgound-color);
  margin-top: 70px;
  border-radius: 10px;
}
.display {
  background-color: var(--display-color);
  color: var(--text-color);
  font-size: 36px;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  text-align: right;
  padding-right: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 0px;
}

.calculator-button {
  text-align: center;
  font-size: 32px;
  height: 60px;
  width: 75px;
  background-color: var(--button-color);
  color: var(--text-color);
}

.calculator-button:hover {
  opacity: 70%;
}

.calculator-button:active {
  opacity: 90%;
}
.top-color {
  background-color: var(--top-buttons);
}
.orange-color {
  background-color: var(--right-buttons);
}
